body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.container {
    margin: 0 auto; /* Wyśrodkowuje kontener poziomo */
    padding-top: 30px; /* Odstęp od góry */
    width: 100%;
    max-width: 450px; /* Maksymalna szerokość kontenera */
}

header {
    margin-top: 0;
}

.center-text {
    color: blue;
    margin: 0;
}

section, footer {
    margin-top: 30px;
    text-align: left; /* Tekst wewnątrz kontenerów będzie wyrównany do lewej */
}

.align-content-lyric {
    text-align: left; /* Wyrównanie tekstu do lewej */
    text-indent: 2em; /* Wcięcie dla pierwszej linijki */
    padding-left: 20px; /* Dodaj padding, aby dodać więcej odstępu z lewej strony */
}
